* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
    width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App nav {
    padding: 15px;
    background: linear-gradient(to right, rgb(123, 0, 255),rgb(139, 30, 255),rgb(147, 55, 246));
}

.App nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    margin-right: 30px;
}

.App nav a span{
    color: rgb(47, 255, 0);
}